In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/BenchmarkingSample20230607_with_features.csv')
df

,Unit,Date,Days,Period,Advertising,Cost of Sales - Food,Cost of Sales - Paper,Crew Labor,Maintenance & Repair,Management Labor,...,Total Cost of Sales,Gross Profit,Total Labor,Total Prime Costs,Total Controllable Costs,Controllable Profit,Total Non-controllable Costs,Store EBITDA,Adjusted daily Rent,Average Daily Cost
0,00040302CD88,2021-04-30,30,1,3778,20557,2190,486,5135,3983,...,22747,67205,7898,30645,34531,32674,22747,9927,15.003333,2060.983333
1,00040302CD88,2021-05-31,31,2,3805,20876,2058,1376,1553,4255,...,22934,67660,9330,32264,29278,38382,22934,15448,15.003333,1831.933333
2,00040302CD88,2021-06-30,30,3,3440,19531,2291,178,2321,4241,...,21822,60087,8033,29855,27747,32340,21822,10518,15.003333,1801.663333
3,00040302CD88,2021-07-31,31,4,3672,20999,2056,36597,3412,5515,...,23055,64363,49056,72111,71261,-6898,23055,-29953,15.003333,3182.123333
4,00040302CD88,2021-08-31,31,5,3827,21357,2312,29942,3345,5484,...,23669,67440,42535,66204,64950,2490,23669,-21179,15.003333,2956.193333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,0004030BEB57,2022-11-30,30,20,15729,99236,10557,75243,8789,3997,...,109793,264704,94918,204711,139868,124836,109793,15043,2175.308333,10862.118333
212,0004030BEB57,2022-12-31,31,21,12227,108507,13137,94509,1704,4989,...,121644,303041,114744,236388,156370,146671,121644,25027,2175.308333,12018.358333
213,0004030BEB57,2023-01-31,31,22,15255,101713,10812,82894,3256,4278,...,112525,250680,103340,215865,148349,102331,112525,-10194,2175.308333,11006.238333
214,0004030BEB57,2023-02-28,28,23,15020,98547,11558,83338,3605,5253,...,110105,247506,105045,215150,141023,106483,110105,-3622,2175.308333,11607.698333
215,0004030BEB57,2023-03-31,31,24,17368,110366,10063,94112,5267,5433,...,120429,293092,117966,238395,167878,125214,120429,4785,2175.308333,11902.458333

# Mean Analysis

In [3]:
# Calculate the SMA with a window size of 3
df['Total Cost of Sales_SMA'] = df['Total Cost of Sales'].rolling(window=3).mean()
df['Gross Profit_SMA'] = df['Gross Profit'].rolling(window=3).mean()
df['Total Labor_SMA'] = df['Total Labor'].rolling(window=3).mean()
df['Total Prime Costs_SMA'] = df['Total Prime Costs'].rolling(window=3).mean()
df['Total Controllable Costs_SMA'] = df['Total Controllable Costs'].rolling(window=3).mean()
df['Controllable Profit_SMA'] = df['Controllable Profit'].rolling(window=3).mean()
df['Total Non-controllable Costs_SMA'] = df['Total Non-controllable Costs'].rolling(window=3).mean()
df['Store EBITDA_SMA'] = df['Store EBITDA'].rolling(window=3).mean()


df = df.round(2)
df

,Unit,Date,Days,Period,Advertising,Cost of Sales - Food,Cost of Sales - Paper,Crew Labor,Maintenance & Repair,Management Labor,...,Adjusted daily Rent,Average Daily Cost,Total Cost of Sales_SMA,Gross Profit_SMA,Total Labor_SMA,Total Prime Costs_SMA,Total Controllable Costs_SMA,Controllable Profit_SMA,Total Non-controllable Costs_SMA,Store EBITDA_SMA
0,00040302CD88,2021-04-30,30,1,3778,20557,2190,486,5135,3983,...,15.00,2060.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00040302CD88,2021-05-31,31,2,3805,20876,2058,1376,1553,4255,...,15.00,1831.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00040302CD88,2021-06-30,30,3,3440,19531,2291,178,2321,4241,...,15.00,1801.66,22501.00,64984.00,8420.33,30921.33,30518.67,34465.33,22501.00,11964.33
3,00040302CD88,2021-07-31,31,4,3672,20999,2056,36597,3412,5515,...,15.00,3182.12,22603.67,64036.67,22139.67,44743.33,42762.00,21274.67,22603.67,-1329.00
4,00040302CD88,2021-08-31,31,5,3827,21357,2312,29942,3345,5484,...,15.00,2956.19,22848.67,63963.33,33208.00,56056.67,54652.67,9310.67,22848.67,-13538.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,0004030BEB57,2022-11-30,30,20,15729,99236,10557,75243,8789,3997,...,2175.31,10862.12,110990.67,266104.33,98210.00,209200.67,141025.67,125078.67,110990.67,14088.00
212,0004030BEB57,2022-12-31,31,21,12227,108507,13137,94509,1704,4989,...,2175.31,12018.36,114948.33,281048.33,104379.67,219328.00,146175.67,134872.67,114948.33,19924.33
213,0004030BEB57,2023-01-31,31,22,15255,101713,10812,82894,3256,4278,...,2175.31,11006.24,114654.00,272808.33,104334.00,218988.00,148195.67,124612.67,114654.00,9958.67
214,0004030BEB57,2023-02-28,28,23,15020,98547,11558,83338,3605,5253,...,2175.31,11607.70,114758.00,267075.67,107709.67,222467.67,148580.67,118495.00,114758.00,3737.00
215,0004030BEB57,2023-03-31,31,24,17368,110366,10063,94112,5267,5433,...,2175.31,11902.46,114353.00,263759.33,108783.67,223136.67,152416.67,111342.67,114353.00,-3010.33

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 49 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unit                                     216 non-null    object
 1   Date                                     216 non-null    object
 2   Days                                     216 non-null    int64
 3   Period                                   216 non-null    int64
 4   Advertising                              216 non-null    int64
 5   Cost of Sales - Food                     216 non-null    int64
 6   Cost of Sales - Paper                    216 non-null    int64
 7   Crew Labor                               216 non-null    int64
 8   Maintenance & Repair                     216 non-null    int64
 9   Management Labor                         216 non-null    int64
 10  Other Controllables                      216 non-null    int64
 11  Other Labor-related Costs                216 non-null    int64
 12  Other Non-controllables                  216 non-null    int64
 13  Outside Services                         216 non-null    int64
 14  Promotion                                216 non-null    int64
 15  Rent                                     216 non-null    int64
 16  Sales                                    216 non-null    int64
 17  Utilities                                216 non-null    int64
 18  Average daily Period                     216 non-null    float64
 19  Average daily Advertising                216 non-null    float64
 20  Average daily Cost of Sales - Food       216 non-null    float64
 21  Average daily Cost of Sales - Paper      216 non-null    float64
 22  Average daily Crew Labor                 216 non-null    float64
 23  Average daily Maintenance & Repair       216 non-null    float64
 24  Average daily Management Labor           216 non-null    float64
 25  Average daily Other Controllables        216 non-null    float64
 26  Average daily Other Labor-related Costs  216 non-null    float64
 27  Average daily Other Non-controllables    216 non-null    float64
 28  Average daily Outside Services           216 non-null    float64
 29  Average daily Promotion                  216 non-null    float64
 30  Average daily Utilities                  216 non-null    float64
 31  Total Cost of Sales                      216 non-null    int64
 32  Gross Profit                             216 non-null    int64
 33  Total Labor                              216 non-null    int64
 34  Total Prime Costs                        216 non-null    int64
 35  Total Controllable Costs                 216 non-null    int64
 36  Controllable Profit                      216 non-null    int64
 37  Total Non-controllable Costs             216 non-null    int64
 38  Store EBITDA                             216 non-null    int64
 39  Adjusted daily Rent                      192 non-null    float64
 40  Average Daily Cost                       216 non-null    float64
 41  Total Cost of Sales_SMA                  214 non-null    float64
 42  Gross Profit_SMA                         214 non-null    float64
 43  Total Labor_SMA                          214 non-null    float64
 44  Total Prime Costs_SMA                    214 non-null    float64
 45  Total Controllable Costs_SMA             214 non-null    float64
 46  Controllable Profit_SMA                  214 non-null    float64
 47  Total Non-controllable Costs_SMA         214 non-null    float64
 48  Store EBITDA_SMA                         214 non-null    float64
dtypes: float64(23), int64(24), object(2)
memory usage: 82.8+ KB

In [5]:
df = df[['Unit',
       'Total Cost of Sales_SMA', 'Gross Profit_SMA', 'Total Labor_SMA',
       'Total Prime Costs_SMA', 'Total Controllable Costs_SMA',
       'Controllable Profit_SMA', 'Total Non-controllable Costs_SMA',
       'Store EBITDA_SMA']]

df

,Unit,Total Cost of Sales_SMA,Gross Profit_SMA,Total Labor_SMA,Total Prime Costs_SMA,Total Controllable Costs_SMA,Controllable Profit_SMA,Total Non-controllable Costs_SMA,Store EBITDA_SMA
0,00040302CD88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00040302CD88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00040302CD88,22501.00,64984.00,8420.33,30921.33,30518.67,34465.33,22501.00,11964.33
3,00040302CD88,22603.67,64036.67,22139.67,44743.33,42762.00,21274.67,22603.67,-1329.00
4,00040302CD88,22848.67,63963.33,33208.00,56056.67,54652.67,9310.67,22848.67,-13538.00
...,...,...,...,...,...,...,...,...,...
211,0004030BEB57,110990.67,266104.33,98210.00,209200.67,141025.67,125078.67,110990.67,14088.00
212,0004030BEB57,114948.33,281048.33,104379.67,219328.00,146175.67,134872.67,114948.33,19924.33
213,0004030BEB57,114654.00,272808.33,104334.00,218988.00,148195.67,124612.67,114654.00,9958.67
214,0004030BEB57,114758.00,267075.67,107709.67,222467.67,148580.67,118495.00,114758.00,3737.00
215,0004030BEB57,114353.00,263759.33,108783.67,223136.67,152416.67,111342.67,114353.00,-3010.33